[Unit]
Description=nuc-home-streaming-server

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/home/cgg/home-streaming
Environment="PORT=8000"
Environment="MEDIA_DIR=/media/HARDDRIVE/"
Environment="HOME=/home/cgg"
ExecStartPre=/usr/local/go/bin/go build /home/cgg/home-streaming/main.go
ExecStart=/home/cgg/home-streaming/main

[Install]
WantedBy=multi-user.target
