[Unit]
Description=rpi-home-streaming-server

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/home/ubuntu/home-streaming
Environment="PORT=8000"
Environment="MEDIA_DIR=/media/ubuntu/cgg/HARDDRIVE/"
Environment="HOME=/home/ubuntu"
ExecStartPre=/usr/bin/git config --global --add safe.directory /home/ubuntu/home-streaming
ExecStartPre=/usr/bin/git fetch origin main
ExecStartPre=/usr/bin/git reset --hard origin/main
ExecStartPre=/usr/bin/go build /home/ubuntu/home-streaming/main.go
ExecStart=/home/ubuntu/home-streaming/main

[Install]
WantedBy=multi-user.target