<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<a style="text-align: right;" href="/upload/">Upload a file</a>
<a style="text-align: right;" href="/download/">Download a file</a>
<h2 style="text-align: center;">Content Available to Stream</h2>
<h4 style="text-align: center;">(see <a href="/download/">downloads<a> for all available files besides just .mp4)</h4>
{{range .UploadedFileNames}}
<a href="/stream/{{.}}" style="text-align: center;">{{.}}</a>
<br>
{{end}}


</body>
</html>