<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="nav-container">
        <a href="/upload/" class="nav-link">Upload a file</a>
        <a href="/download/" class="nav-link">Download a file</a>
    </div>
    
    <h2 class="page-title">Content Available to Stream</h2>
    <h4 class="page-subtitle">(see <a href="/download/">downloads</a> for all available files besides just .mp4)</h4>
    
    <div class="file-list">
        {{range .UploadedFileNames}}
        <div class="file-item">
            <a href="/stream/{{.}}">{{.}}</a>
        </div>
        {{end}}
    </div>
</body>
</html>